<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<h1>This new About section</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Blanditiis at laudantium quam molestiae officia maiores expedita
			totam saepe doloremque labore beatae vel distinctio atque fugiat
			fugit hic error incidunt eaque aliquid iure quo sit ipsam et culpa
			reiciendis inventore rerum! Laudantium sed asperiores eligendi
			voluptate repellendus expedita. Quae deserunt dolorum?</p>
	</section>

</body>
</html>